@use "../../styles/variables";

.wrapper {
  height: fit-content;
  display: flex;
  font-size: variables.$font_size_m;
  justify-content: space-between;
  align-items: center;
  gap: variables.$gap_l;
  padding: variables.$gap_s variables.$gap_l;

  background-color: variables.$palette_grey_3;
  border-radius: variables.$border_radius_total;
  box-shadow: variables.$default_dark_shadow;

  span {
    color: variables.$palette_grey_1;
    font-weight: bold;
  }

  input {
    height: variables.$gap_xl;
    width: 100%;
    font-size: variables.$font_size_m;
    min-width: 0;
    border: 0;
    background-color: transparent;
    font-weight: bold;
    color: variables.$palette_grey_0;


    &:active,
    &:focus {
      border: 0;
      outline: 0;
      text-decoration: underline;
    }

    &:disabled {
      opacity: .5;
    }
  }
}