@use "../../styles/variables";

.button {
  position: relative;
  background-color: transparent;
  cursor: pointer;
  min-height: 1.5rem;
  border-radius: variables.$border_radius_total;
  border: 0;
  flex-shrink: 0;

  transition: text-shadow 0.2s;
  > * {
    transition: text-shadow 0.2s;
  }

  img {
    width: 100%;
    object-fit: contain;
  }

  &:disabled {
    opacity: 0.25;
    cursor: default;
  }

  &:hover * {
    text-shadow: 1px 1px rgba(variables.$palette_grey_2, 1);
  }
}
