@import "../../styles/variables";

.button {
  background-color: transparent;
  cursor: pointer;
  min-height: 2rem;
  border-radius: $border_radius_total;
  border: 0;
  flex-shrink: 0;

  img {
    width: 100%;
    object-fit: contain;
  }

  &:disabled {
    opacity: 0.25;
    cursor: default;
  }
}