@use "../../styles/variables";

.note {
  flex-shrink: 0;
  position: relative;

  padding: 0 variables.$gap_l;

  overflow: hidden;

  display: grid;
  grid-template-rows: 0fr;

  --animation-time: 0.3s;

  transition: margin var(--animation-time), padding var(--animation-time),
    grid-template-rows var(--animation-time);

  color: variables.$palette_grey_4;
  font-size: variables.$font_size_xl;
  line-height: 2.5ch;

  border-radius: variables.$border_radius_m;

  user-select: none;

  h2 {
    cursor: pointer;
  }
  > div {
    overflow: hidden;
  }

  &.visibleNote {
    margin-top: variables.$gap_m;
    padding: variables.$gap_l;

    grid-template-rows: 1fr;
  }
}

@media (max-width: variables.$media_phone) {
  .note {
    font-size: variables.$font_size_l;
  }
}

.linkVisit {
  position: absolute;
  top: variables.$gap_s;
  right: variables.$gap_s;

  cursor: pointer;
  text-shadow: variables.$blur_dark_text_shadow;
}

.expand {
  position: absolute;
  right: variables.$gap_s;
  cursor: pointer;

  text-shadow: variables.$dark_text_shadow;
}

.hidden {
  height: 0;
  padding: 0 variables.$gap_m;
  margin: 0;
}
