@import "../../styles/variables";

.noteListContainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;

  @media (max-width: $media_phone) {
    display: none;
  }
}

@media (max-width: $media_phone) {
  .noteListContainer {
    height: fit-content;
  }
}