@use "../../styles/variables";

.note {
  position: relative;
  color: variables.$palette_grey_4;
  padding: 0;
  border-radius: variables.$border_radius_m;
  overflow: hidden;
  padding: 0 variables.$gap_l;

  font-size: variables.$font_size_xl;
  line-height: 2.5ch;

  user-select: none;

  --animation-time: 0.3s;

  transition: margin var(--animation-time), padding var(--animation-time),
    grid-template-rows var(--animation-time);

  display: grid;
  grid-template-rows: 0fr;
  h2 {
    cursor: pointer;
  }
  > div {
    overflow: hidden;
  }

  &.visibleNote {
    padding: variables.$gap_l;
    margin-bottom: variables.$gap_l;
    grid-template-rows: 1fr;
  }
}

@media (max-width: variables.$media_phone) {
  .note {
    font-size: variables.$font_size_l;
  }
}

.linkVisit {
  position: absolute;
  top: variables.$gap_s;
  right: variables.$gap_s;
  cursor: pointer;
  text-shadow: 0px 0px 10px variables.$palette_grey_0;
}

.expand {
  position: absolute;
  right: variables.$gap_s;
  cursor: pointer;

  text-shadow: 0px 0px variables.$gap_s variables.$palette_grey_0;
}

.hidden {
  height: 0;
  padding: 0 variables.$gap_m;
  margin: 0 variables.$gap_m;
}
