@import "../../styles/variables";

.note {
  position: relative;
  color: $palette_grey_4;
  padding: 0;
  border-radius: $border_radius_m;
  overflow: hidden;
  height: 0;
  padding: 0 $gap_l;

  font-size: $font_size_xl;
  line-height: 2.5ch;

  user-select: none;

  transition: margin 0.2s, padding 0.2s;

  h2 {
    cursor: pointer;
  }


  &.visibleNote {
    padding: $gap_l;
    margin-bottom: $gap_l;
    height: auto;
  }
}

@media (max-width: $media_phone) {
  .note {
    font-size: $font_size_l;
  }
}

.linkVisit {
  position: absolute;
  top: $gap_s;
  right: $gap_s;
  cursor: pointer;
  text-shadow: 0px 0px 10px $palette_grey_0;
}

.expand {
  position: absolute;
  right: $gap_s;
  cursor: pointer;

  text-shadow: 0px 0px $gap_s $palette_grey_0;
}

.hidden {
  height: 0;
  padding: 0 $gap_m;
  margin: 0 $gap_m;
}