@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  color: inherit;
  font-family: inherit;
}

html,
body {
  font-family: "Inclusive Sans", sans-serif;
  height: 100dvh;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: variables.$palette_grey_4;
  color: variables.$palette_grey_0;
  transition: color 0.2s, background-color 0.2s;
  overflow: hidden;
}

h1,
h2 {
  margin-bottom: variables.$gap_l;

  &::-webkit-scrollbar {
    display: none;
  }
}

p {
  min-height: 1.5ch;
  line-height: 2.5ch;
  margin-bottom: variables.$gap_m;
}

a {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: variables.$gap_m;
}

div::-webkit-scrollbar-track {
  background-color: transparent;
}

div::-webkit-scrollbar-thumb {
  background: variables.$palette_grey_1;
  border-radius: 2px;
}

div::-webkit-scrollbar-thumb:hover {
  background: variables.$palette_grey_1;
}

img {
  width: 100%;
}

.flash {
  animation: flash-item forwards ease 0.5s;
  animation-delay: 0.1s;
}

@keyframes flash-item {
  50% {
    background-color: variables.$palette_alert;
  }
}

.text-title {
  font-weight: bold;
  font-size: 125%;
  opacity: 0.8;
}

.text-subtitle {
  font-weight: bold;
  font-size: 112%;
  opacity: 0.6;
}

.text-list {
  padding-left: variables.$gap_l;

  &::before {
    content: "• ";
    padding-right: variables.$gap_m;
  }
}

.text-spoiler {
  transition: color 0.2s, background-color 0.2s;
  cursor: pointer;
  padding: variables.$gap_m 0;

  &:not(:active) {
    color: transparent;
    background-color: variables.$palette_grey_2;
    border-radius: 0;

    > * {
      opacity: 0;
    }
  }
}

.edit-p {
  background-color: rgba(variables.$palette_alert, 0.4);
  border-radius: variables.$border_radius_m;
}

main {
  &.dark {
    color: variables.$palette_grey_4;
    background-color: variables.$palette_grey_0;
  }
}

.alert {
  background-color: variables.$palette_alert;
}

.noShadow {
  box-shadow: none !important;
  text-shadow: none !important;

  > * {
    box-shadow: none !important;
    text-shadow: none !important;
  }
}

.color-confirm {
  color: variables.$palette_green_1 !important;
}
