@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap");
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
}

html,
body {
  font-family: "Inclusive Sans", sans-serif;
  background-color: $palette_grey_3;
  color: $palette_grey_1;
  height: 100dvh;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  padding: $gap_l;
  background-color: $palette_grey_4;
  color: $palette_grey_0;
  transition: color .2s, background-color .2s;
}

h1,
h2 {
  color: $palette_grey_4;
  margin-bottom: $gap_l;

  &::-webkit-scrollbar {
    display: none;
  }
}


p {
  min-height: 1.5ch;
  line-height: 2.5ch;
  margin-bottom: $gap_m;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 4px;
}

div::-webkit-scrollbar-track {
  background-color: transparent;
}

div::-webkit-scrollbar-thumb {
  background: $palette_grey_1;
  border-radius: 2px;
}

div::-webkit-scrollbar-thumb:hover {
  background: $palette_grey_1;
}

img {
  width: 100%;
}

.flash {
  animation: flash-item forwards ease 0.5s;
  animation-delay: 0.1s;
}

@keyframes flash-item {
  50% {
    background-color: $palette_alert;
  }
}

.text-title {
  font-weight: bold;
  font-size: 125%;
  opacity: .8;
}

.text-subtitle {
  font-weight: bold;
  font-size: 112%;
  opacity: .6;
}

.edit-p {
  background-color: rgba($palette_alert, .4);
  border-radius: $border_radius_m;
}


main {
  &.dark {
    background-color: $palette_grey_0;

  }
}

.dark {
  p {
    color: $palette_grey_4;
  }

  label>span {
    color: white;
  }
}