.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .passwordInput {
    height: 100%;
    width: 2rem;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 200px 200px 200px 200px;
    transition: width 0.3s;
    text-align: center;

    &.expanded {
      width: 100%;
      padding: 0.5rem 2rem 0.5rem 0.5rem;
    }
  }
  .button {
    border-radius: 50% !important;
    transform: translateX(-100%);
    transform-origin: -50% 50%;
    &.buzz {
      animation: buzz 0.5s linear forwards;
    }
  }
}

@keyframes buzz {
  10% {
    rotate: 15deg;
  }
  20% {
    rotate: -15deg;
  }
  30% {
    rotate: 15deg;
  }
  40% {
    rotate: -15deg;
  }
  50% {
    rotate: 15deg;
  }
  60% {
    rotate: -15deg;
  }
  70% {
    rotate: 15deg;
  }
  80% {
    rotate: -15deg;
  }
  90% {
    rotate: 15deg;
  }
}
