.wrapper {
  position: relative;
  width: 2rem;
  transition: width 0.3s;

  &:has(.expanded) {
    width: 100%;
  }

  .passwordInput {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 200px 200px 200px 200px;
    text-align: center;

    &.expanded {
      padding: 0.5rem 2rem 0.5rem 0.5rem;
    }
  }
  .button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50% !important;
    &.buzz {
      animation: buzz 0.5s linear forwards;
    }

    &.rotate {
      animation: rotate 1s linear infinite;
    }
  }
}

@keyframes buzz {
  10% {
    rotate: 15deg;
  }
  20% {
    rotate: -15deg;
  }
  30% {
    rotate: 15deg;
  }
  40% {
    rotate: -15deg;
  }
  50% {
    rotate: 15deg;
  }
  60% {
    rotate: -15deg;
  }
  70% {
    rotate: 15deg;
  }
  80% {
    rotate: -15deg;
  }
  90% {
    rotate: 15deg;
  }
}

@keyframes rotate {
  to {
    rotate: 360deg;
  }
}
