@use "../../../styles/variables";
@import "material-symbols";

.inputs {
  display: flex;
  flex-direction: column;
  margin: variables.$gap_l 0;
  gap: variables.$gap_m;

  label {
    grid-template-columns: 1fr 2fr;
  }
}

.colorPreview {
  width: 100%;
  height: variables.$gap_xxl;
  border-radius: variables.$border_radius_m;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: variables.$palette_grey_4;
    font-weight: bold;
  }
}

.dark {
  color: variables.$palette_grey_0 !important;
}
