@use "../../../styles/variables";
@use "../../../styles/mixins";

.modal {
  width: 30ch;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: variables.$gap_l;

  text-align: center;

  .feedback {
    line-height: normal;
  }

  @include mixins.mobile {
    max-width: 20ch;
  }
}
