@import "../../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $gap_l;
  align-items: center;
  width: 25rem;
  text-align: center;

  .buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}