@import "../../../styles/variables";
@import "material-symbols";

.inputs {
  display: flex;
  flex-direction: column;
  margin: $gap_l 0;
  gap: $gap_m;
}

.colorPreview {
  width: 100%;
  height: 4rem;
  border-radius: $border_radius_m;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: $palette_grey_4;
    font-weight: bold;
  }
}
