@use "../../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: variables.$gap_l;
  align-items: center;
  width: 80vw;
  text-align: center;

  .buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}
