@import "material-symbols";

@import "../../styles/variables";

.modalContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  cursor: pointer;
}

.modal {
  cursor: default;
  position: relative;
  padding: $gap_xl;
  border-radius: $border_radius_l;
  background-color: $palette_grey_4;
  box-shadow: $default_dark_shadow;

  p,
  span,
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  div {
    color: $palette_grey_0;
  }

  .closeButton {
    position: absolute;
    right: $gap_m;
    top: $gap_m;
    z-index: 100;
  }
}
