@import "../styles/variables";

.dataActions {
  position: absolute;
  right: 0;
  bottom: 0;

  padding: $gap_m;

  display: grid;
  grid-template-rows: 2rem;
  align-items: end;

  background-color: $palette_grey_4;
  border-radius: $border_radius_total;

  transition: grid-template-rows 0.3s;

  >div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: $gap_m;
    overflow: hidden;
    height: 100%;
  }

  &:hover {
    grid-template-rows: 9.5rem;
  }

  input,
  button {
    position: relative;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    font-size: $font_size_m;
    border: 0;
    cursor: pointer;
    background-color: transparent;
  }

  input::-webkit-file-upload-button {
    visibility: hidden;
  }

  input::before {
    content: "";
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    display: block;
    background-image: url("/images/upload.svg");
    background-position: center;
    background-size: 100%;
  }
}