@import "../styles/variables";

.dataActions {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: $gap_m;
  width: 3rem;

  background-color: $palette_grey_4;
  padding: $gap_m;
  border-radius: $border_radius_total;
  overflow: hidden;

  max-height: 3rem;
  transition: max-height 0.3s;

  box-shadow: 5px 5px 5px rgba($palette_grey_0, 0.2);

  &:hover {
    max-height: 12rem;
  }

  input,
  button {
    position: relative;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    font-size: $font_size_m;
    border: 0;
    cursor: pointer;
    background-color: transparent;
  }

  input::-webkit-file-upload-button {
    visibility: hidden;
  }

  input::before {
    content: "";
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    display: block;
    background-image: url("/images/upload.svg");
    background-position: center;
    background-size: 100%;
  }
}

@media (max-width: $media_phone) {
  .dataActions {
    flex-direction: row;
    width: 12rem;
  }
}