@import "material-symbols";
@import "../styles/variables";

.notebook {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  column-gap: $gap_m;

  transition: grid-template-columns 0.2s;

  .editButtonToggle {
    position: absolute;
    bottom: $gap_m;
    right: $gap_m;
    z-index: 10;
  }

  &.referenceLess {
    grid-template-columns: 1fr 0fr;
  }
}

@media (max-width: $media_phone) {
  .notebook {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0;
    grid-template-areas:
      "text"
      "notes";
  }
}
