@use "../styles/variables";
@import "material-symbols";

.notebook {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  column-gap: variables.$gap_m;

  transition: grid-template-columns 0.2s;

  .editButtonToggle {
    position: absolute;
    bottom: variables.$gap_m;
    right: variables.$gap_m;
    z-index: 10;
    color: variables.$palette_grey_0;

    @media (max-width: variables.$media_phone) {
      display: none;
    }
  }

  &.referenceLess {
    grid-template-columns: 1fr 0fr;
  }
}

@media (max-width: variables.$media_phone) {
  .notebook {
    grid-template-columns: 100%;
    grid-template-rows: 100dvh 0;
    grid-template-areas:
      "text"
      "notes";
  }
}
