@use "../styles/variables";

.treeContainer {
  position: relative;
  width: 90vw;
  height: 90vh;

  svg {
    width: 100%;
    height: 100%;

    path {
      stroke-width: 0.25px;
    }
  }

  .leaf {
    font-size: variables.$font_size_s;
    position: absolute;
    width: variables.$gap_xxl;
    padding: variables.$gap_m;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: variables.$border_radius_m;
    color: variables.$palette_grey_4;
    transform: translate(-50%, -50%);
    user-select: none;
    cursor: pointer;
  }
}
