@import "../../styles/variables";
@import "material-symbols";

.pageDisplay {
  position: relative;
  line-height: 2.5ch;
  height: 100%;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  font-size: $font_size_l;
  overflow: hidden;

  .titleContainer {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    padding: 0 $gap_m;
    gap: $gap_m;

    border-radius: $border_radius_total;

    span {
      cursor: pointer;
    }

    h1 {
      cursor: pointer;
      height: 100%;
      overflow-y: hidden;
      overflow-x: auto;
      white-space: nowrap;
      display: flex;
      align-items: center;
      margin: 0;
    }
  }

  .text {
    padding: $gap_l 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    scroll-behavior: smooth;
  }
}
