.pageEdit {
  position: relative;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: 100%;

  label {
    height: fit-content;
    display: grid;
    font-size: 1rem;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    text-align: right;
    gap: 1rem;

    span {
      position: relative;

      &:hover::after {
        content: attr(data-help);
        position: absolute;
        display: inline-block;
        left: calc(100% + 0.5rem);
        top: calc(100% + 0.5rem);
        background-color: aquamarine;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        text-align: left;
        width: 150px;
      }
    }

    input {
      font-size: 1rem;
      padding: 0.5rem;
      min-width: 0;
      border: 1px solid black;
      background-color: white;
      border-radius: 1rem;
    }
  }

  textarea {
    padding: 0.5rem;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    overflow-y: auto;
    border: 1px solid black;
    background-color: white;
    border-radius: 1rem;
  }
}