@use "../../styles/variables";

.pageEdit {
  position: relative;
  padding: variables.$gap_l 0;
  display: flex;
  flex-direction: column;
  gap: variables.$gap_m;
  width: 100%;
  height: 100%;

  .minorOptions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: variables.$gap_m;

    >* {
      height: 100%;
    }
  }

  textarea {
    padding: variables.$gap_m;
    height: 100%;
    width: 100%;
    font-size: variables.$font_size_l;
    overflow-y: auto;
    background-color: transparent;
    color: variables.$palette_grey_0;
    background-color: variables.$palette_grey_3;
    border-radius: variables.$border_radius_l;
    border: 0;
    outline: 0;
  }

  @media (width < variables.$media_phone) {
    display: none;
  }
}