.pageDisplay {
  position: relative;
  line-height: 2.5ch;
  height: 100%;
  display: flex;
  flex-direction: column;

  .titleContainer {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    padding: 0 0.5rem;
    gap: 0.5rem;

    background-color: rgb(139, 207, 228);
    border-radius: 1000px;

    span {
      cursor: pointer;
    }

    h1 {
      cursor: pointer;
      height: 100%;
      overflow-y: hidden;
      overflow-x: auto;
      white-space: nowrap;
      display: flex;
      align-items: center;
      margin: 0;
    }
  }

  .text {
    padding: 1rem 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    scroll-behavior: smooth;
  }
}