@use "../../styles/variables";
@import "material-symbols";

.pageDisplay {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: variables.$font_size_l;
  overflow: hidden;

  .titleContainer {
    padding: 0 variables.$gap_m;

    height: variables.$gap_xxl;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    gap: variables.$gap_m;

    border-radius: variables.$border_radius_total;

    span {
      cursor: pointer;
    }

    h1 {
      cursor: pointer;
      height: 100%;
      overflow-y: hidden;
      overflow-x: auto;
      white-space: nowrap;
      display: flex;
      align-items: center;
      margin: 0;
      color: variables.$palette_grey_4;
    }
  }

  .text {
    padding: variables.$gap_l variables.$gap_s variables.$gap_xxl;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    scroll-behavior: smooth;
  }
}
