@use "../../styles/variables";

.reference {
  user-select: none;
  color: variables.$palette_grey_4;
  padding: 0 variables.$gap_m;
  border-radius: variables.$border_radius_m;
  white-space: nowrap;
  cursor: pointer;
}
