@use "../../styles/variables";
@import "material-symbols";

.spoiler {
  position: relative;
  transition: color 0.2s, background-color 0.2s, border-radius .2s;
  padding: variables.$gap_m 0;
  z-index: 2;

  // &:hover .cover,
  // &:hover .cover.preview {
  //   z-index: -1;
  //   opacity: .1;
  // }


  .cover {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: variables.$palette_grey_1;
    border-radius: variables.$border_radius_m;
    transition: width .3s ease-in-out, height .3s ease-in-out, opacity .3s ease-in;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    color: variables.$palette_grey_4;

    span {
      cursor: pointer;
    }

    &.show {
      z-index: -1;
      opacity: .1;

      span {
        cursor: default
      }
    }


    &.preview {
      opacity: .5;
    }


    &.notUncovereable {
      cursor: default;
    }
  }
}